body{
background:orange;
}

#first{
font-size:50px;
text-align:center;
text-decoration:underline;
color:darkred;
}

#bold{
font-size;35px;
color:purple;
}

#paragraph{
color:darkgreen;
font-size:30px;
}
